*.class
.project
.settings/
.classpath
.idea/
crysknife-parent.iml
core/crysknife-core.iml
demo/demo.iml
processor/crysknife-processor.iml
annotations/crysknife-annotations.iml
annotations/crysknife-processor.iml

